body {
  background-color: #dadada;
  font-size: 10px;
}

@media screen and (min-width: 575px) {
   body {
    margin-right: 60px;
    margin-left: 60px;
  }
}

@media screen and (min-width: 991px) {
  body {
    margin-right: 80px;
    margin-left: 80px;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  width: 100%;
}

h1 {
  font-size: 1.5em;
}

.container > h1:first-of-type {
  margin: 30px;
  font-size: 1.4em;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', Monaco, sans-serif;
}

.preview {
  font-size: 1.5em;
  text-align: left;
  font-family: Times-Roman, serif;
  text-transform: none;
  padding: 10% 0 0 10%;
  margin: 0 0 20px 0;
  width: 100%;
  display: inline-block;
  height: 300px;
}

@media screen and (min-width: 575px){
   .preview {
    margin: 1%;
    width: 48%;
    padding: 8% 0 0 8%;
    float: left;
  }
}

@media screen and (min-width: 991px){
   .preview {
    margin: 1%;
    width: 23%;
    padding: 4% 0 0 4%;
    float: left;
  }
}

.baku {
  background: #fff url('../images/baku.jpg') no-repeat top center;
  background-size: cover;
}

.london {
  background: #fff url('../images/london.png') no-repeat top right;
  background-size: cover;
}

.madrid {
  background: #fff url('../images/madrid.jpg') no-repeat top left;
  background-position:
  background-size: cover;
}

.rome {
  background: #fff url('../images/rome.jpg') no-repeat top center;
  background-size: cover;
}
